<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/index.css')}} ">
    {% block links %}{% endblock %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.js') }}"></script>
    <title>Estudos EAP</title>
</head>
<body>
    <div class="container">
    {% include 'navbar.html' %}
    {% include 'flashes.html' %}

    
        {% block conteudo %}
        {% endblock %}
    </div>
    
</body>
</html>